.header {
  margin-bottom: 2rem;
}

.header ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  background: #eee;
}

:global(:active), .link:hover {
  background: #ddd;
}
