html {
  --font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-title: Georgia, 'Times New Roman', Times, serif;
  --font-size: 1.2rem;
  --color: #19f;
  --color-light: #adf;
  --color-dark: #018;
  --radius: 0.2rem;
}


body,
input,
textarea,
button {
  font-size: var(--font-size);
  font-family: var(--font);
}

h1,
h2,
h3 {
  font-family: var(--font-title);
}

h1,
h2,
h3,
p,
ul {
  margin: 1rem 0;
}
